services:
  web:
    build: .
    container_name: xstake_web
    restart: always
    ports:
      - "8000:8000"
    volumes:
      - ./bookmaker/db.sqlite3:/app/bookmaker/db.sqlite3  # Persist SQLite DB
      - ./bookmaker/media:/app/bookmaker/media            # Persist Media files
    env_file:
      - ./bookmaker/.env
    environment:
      - DEBUG=False
      - ALLOWED_HOSTS=*
